@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/* body{
   
    background: #23EC55;
    background: -webkit-radial-gradient(top right, #23EC55, #2D51C1);
    background: -moz-radial-gradient(top right, #23EC55, #2D51C1);
    background: radial-gradient(to bottom left, #23EC55, #2D51C1);
    } */
    .wrapper{margin:10vh}
    /* //post card styles */
    
    .card{
      border: none;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     overflow:hidden;
     border-radius:20px;
     min-height:200px;
       box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    
     @media (max-width: 768px) {
      min-height:350px;
    }
    
    @media (max-width: 420px) {
      min-height:300px;
    }
    
     &.card-has-bg{
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      background-size:120%;
      background-repeat:no-repeat;
      background-position: center center;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);}
    
      &:hover {
        transform: scale(0.98);
         box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
        background-size:130%;
         transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    
        .card-img-overlay {
          transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          background: rgb(35,79,109);
         background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
         }
      }
    }
     .card-footer{
      background: none;
       border-top: none;
        .media{
         img{
           border:solid 3px rgba(255,255,255,0.3);
         }
       }
     }
     .card-meta{color:#26BD75}
     .card-body{ 
       transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }
     &:hover {
       .card-body{
         margin-top:30px;
         transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
       }
     cursor: pointer;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
     .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
     background: rgb(35,79,109);
    background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
    }
    }
    @media (max-width: 767px){
      
    }

    .card2 {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    }
    .l-bg-cherry {
        background: linear-gradient(to right, #493240, #f09) !important;
        color: #fff;
    }
    
    .l-bg-blue-dark {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }
    
    .l-bg-green-dark {
        background: linear-gradient(to right, #0a504a, #38ef7d) !important;
        color: #fff;
    }
    
    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }
    
    .card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }
    
    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
    }
    
    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }
    
    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }
    
    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }
    
    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .quote{
        
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("./images/sliders1.jpg");
        height: 50vh;
        width:100%;
      }
      
      h1.text{
        font-family: 'Oswald', sans-serif;
        font-size: 5.31vw;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        text-align: center; 
        color: #131212;
      }
      ul {
        margin: 0px;
        padding: 0px;
    }
    .footer-section {
      background: #151414;
      position: relative;
    }
    .footer-cta {
      border-bottom: 1px solid #373636;
    }
    .single-cta i {
      color: #ff5e14;
      font-size: 30px;
      float: left;
      margin-top: 8px;
    }
    .cta-text {
      padding-left: 15px;
      display: inline-block;
    }
    .cta-text h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .cta-text span {
      color: #757575;
      font-size: 15px;
    }
    .footer-content {
      position: relative;
      z-index: 2;
    }
    .footer-pattern img {
      position: absolute;
      top: 0;
      left: 0;
      height: 330px;
      background-size: cover;
      background-position: 100% 100%;
    }
    .footer-logo {
      margin-bottom: 30px;
    }
    .footer-logo img {
        max-width: 200px;
    }
    .footer-text p {
      margin-bottom: 14px;
      font-size: 14px;
          color: #7e7e7e;
      line-height: 28px;
    }
    /* .footer-social-icon span {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }
    .footer-social-icon a {
      color: #fff;
      font-size: 16px;
      margin-right: 15px;
    }
    .footer-social-icon i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
    }
    .facebook-bg{
      background: #3B5998;
    }
    .twitter-bg{
      background: #55ACEE;
    }
    .google-bg{
      background: #DD4B39;
    } */
    .footer-widget-heading h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
    }
    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: #ff5e14;
    }
    .footer-widget ul li {
      display: inline-block;
      float: left;
      width: 50%;
      margin-bottom: 12px;
    }
    .footer-widget ul li a:hover{
      color: #ff5e14;
    }
    .footer-widget ul li a {
      color: #878787;
      text-transform: capitalize;
    }
    .subscribe-form {
      position: relative;
      overflow: hidden;
    }
    .subscribe-form input {
      width: 100%;
      padding: 14px 28px;
      background: #2E2E2E;
      border: 1px solid #2E2E2E;
      color: #fff;
    }
    /* .subscribe-form button {
        position: absolute;
        right: 0;
        background: #ff5e14;
        padding: 13px 20px;
        border: 1px solid #ff5e14;
        top: 0;
    } */
    .subscribe-form button {
      position: absolute;
      right: 0;
      background: #ff5e14;
      padding: 12px 18px 0px 15px;
      height: 31px;
      width: 45px;
      border: 1px solid #ff5e14;
      top: 0;
  }
    .subscribe-form button i {
      color: #fff;
      font-size: 22px;
      transform: rotate(-6deg);
    }
    .copyright-area{
      background: #202020;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #ff5e14;
    }
    .footer-menu li {
      display: inline-block;
      margin-left: 20px;
    }
    .footer-menu li:hover a{
      color: #ff5e14;
    }
    .footer-menu li a {
      font-size: 14px;
      color: #878787;
    }
/* login */
body{
  background: #f8f8f8; 
  }
  .form-style input{
    border:0;
    height:50px;
    border-radius:0;
  border-bottom:1px solid #ebebeb;	
  }
  .form-style input:focus{
  border-bottom:1px solid #007bff;	
  box-shadow:none;
  outline:0;
  background-color:#f8f8f7;	
  }
  .sideline {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    color:#ccc;
  }
  button{
  height:50px;	
  }
  .sideline:before,
  .sideline:after {
      content: '';
      border-top: 1px solid #ebebeb;
      margin: 0 20px 0 0;
      flex: 1 0 20px;
  }
  
  .sideline:after {
      margin: 0 0 0 20px;
  }

  /* career page 2 nd section */

  primary-font: sans-serif;
secondary-font:'Oswald', sans-serif;

body {
  background: #ddd;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  background: #ccc;
  background: url('https://www.mirandawashburn.com/media/projects/travelHomepage/hero.jpeg') no-repeat center center;
  background-size: cover;
  box-shadow: 
    inset 0 0 100vw 100vw rgba(0,0,0,0.3),0 16px 8px -8px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  height: 500px;
  padding: 0 0 32px;
  display: flex;
  overflow-x: scroll;
}
/*CARD*/
.card__btn {
  color: #1eee29;
  background-color: #000;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 24px;
  font-family: primary-font;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  /* text-transform: uppercase; */
  width: 88px;
  margin: 8px 0 0;
  opacity: 0.5;
  padding: 8px;
}
.card__text-sm {
  color: #fff;
  font-family: primary-font;
  font-size: 10px;
  margin: 0;
  padding: 16px 0 8px;
  position: relative;
}
.card__text-sm::before {
  content: "";
  background: #fff;
  height: 1px;
  width: 16px;
  position: absolute;
  top: 0;
}
.card__text-lg {
  color: #fff;
  font-family: secondary-font;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;
  margin: 0;
}
/*...large...*/
.card-lg__container {
  padding: 0 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .card__text-lg {
    font-family: secondary-font;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1.4px;
  } 
  .card__text-md {
    color: #fff;
    font-family: primary-font;
    font-size: 10px;
    font-weight: 100;
    line-height: 1.5;
    padding: 0 32px 0 0;
    opacity: 0.5;
  }
  .card__text-sm {
    font-size: 14px;
  }
  .card__text-sm::before {
    width: 24px;
    height: 2px;
  }
}
/*...small...*/
.card-sm__container {
  height: 232px;
  margin: 0 -88px 0 0;
  display: flex;
  align-self: flex-end;
}
.card-sm {
  background: #ccc;
  background-size: cover; 
  background-position: center center;
  box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3),
    0 16px 8px -8px rgba(0,0,0,0.4);
  border-radius: 8px;
  width: 104px;
  height: calc(100% - 64px); 
  margin: 0 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease;
  
  &:hover {
    margin: -8px 8px 0;
  }
  
  .card__text-sm { 
    opacity: 0.8;
  }
  
}


/*HIDE DEFAULT SCROLL BAR*/
.main::-webkit-scrollbar {
  display: none;
}

.main {
  -ms-overflow-style: none;
}

    @media screen and (max-width: 960px) {
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 16px;
            padding: 8px 0 32px;
            height: unset;
            width: calc(100% - 65px);
            transform: scale(1);
        }

        section.card-lg__container {
            margin: 32px 0 0;
            padding: 0 0 32px;
        }

        section.card-sm__container {
            align-self: center;
            margin: 0 -72px 0 0;
        }
    }

    @media screen and (max-width: 695px) {
        main {
            padding: 8px 32px 0;
        }

        section.card-sm__container {
            height: unset;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        section.card-sm {
            width: calc(100% - 32px);
            height: 200px;
            margin: 0 0 16px;
        }

        .card-sm:hover {
            margin: 8px 0;
            transform: scale(0.9);
        }
    }
    .copyright-area {
      background: #202020;
      padding: 0px 0 !important;
    }